body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

header,
footer {
    background-color: #2754F5;
    color: white;
    padding: 1rem;
}

header, footer {
    width: 100%;
    margin: 0;
    border: none;
    text-align: center;
}

main {
    max-width: 1100px;
    margin: 1rem auto;
    padding: 1rem;
}

h1,
h2 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em;
    color: black;
}

nav {
    text-align: center;
}

nav a {
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
}

nav.hide a { 
    display: none;
}

nav a:hover {
    color: #ccc;
    text-decoration: none;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 300px;
    gap: 1rem;
    margin: 0;
    justify-content: center;
    background-color: gray;
}

.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#lightbox img {
  max-width: 95%;
  max-height: 95%;
  transform: scale(1.8);
}

#lightbox.hidden {
  display: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}


@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    nav a {
        display: inline;
    }
    nav.hide a {
        display: inline;
    }
    .menu-btn {
        display: none;
    }
}