body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header,
main,
footer {
    max-width: 1100px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #2754F5;
}

main {
    display: block;
}

h1,
h2 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em;
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}

nav a:hover {
    color: #616061;
    text-decoration: none;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

footer {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 300px;
    gap: 1rem;
    margin: 0;
    justify-content: center;
    background-color: gray;
}

.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border: 5px solid white;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

    nav {
        text-align: right;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
