body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1em;
    color: #02457a;
}

p, li {
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

#content {
    background: white;
    width: 50%;
    min-height: 100%;
    padding: 50px;
    border: 2px solid #cfcfcf;
}

img {
    width: 200px;
    display: block;
    margin: 50px auto 0 auto;
}

select {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 8px;
    font-size: 1rem;
}