.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-align: right;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    margin: 20px 0;
}

hr {
    border: none;
    height: 3px;
}
header hr:first-of-type {
    background-color: rgb(255, 243, 107);
}
header hr:last-of-type {
    background-color: rgb(114, 44, 44);
}
article.book hr {
    background-color: rgb(114, 44, 44);
}

nav {
    text-align: right;
}

nav a {
    color: #ff6347;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0px 15px;
}

.book {
    text-align: right;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    color:rgb(114, 44, 44)
}

article.book img {
    display: block;
    margin: 20px auto;
    width: 200px;
}

#desc {
    text-align: left;
    display: block;
    width: 100%;
}

footer {
    border-top: 3px solid rgb(255, 243, 107);
    padding: 20px 0;
    text-align: center;
}

.vertical-divider {
    background-color: rgb(114, 44, 44);
    height: 3px;
    width: 100%;
    margin: 20px 0;
}

@media (min-width: 600px) {
    .book {
        display: grid;
        grid-template-columns: 1fr auto 2fr; 
        align-items: center;
        gap: 20px;
        text-align: left;
    }

    .book-metadata {
        text-align: right;
    }
    .vertical-divider {
        grid-column: 2;
        width: 2px;
        height: 100%;
        margin: 0 10px;
    }

    .book-content {
        text-align: center;
    }

    .book-content img {
        margin: 10px auto;
    }

    #desc {
        text-align: center;
    }
}