.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    margin: 20px 0;
}

hr {
    border: none;
    height: 3px;
}

header hr:first-of-type {
    background-color: rgb(255, 243, 107);
}

header hr:last-of-type {
    background-color: rgb(114, 44, 44);
}

nav {
    text-align: right;
}

nav a {
    color: #ff6347;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0px 15px;
}


.book {
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: rgb(114, 44, 44);
    margin: 10px 0;
}

.book img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
}

.desc {
    text-align: left;
    line-height: 1.5;
}

footer {
    border-top: 3px solid rgb(255, 243, 107);
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.vertical-divider {
    background-color: rgb(114, 44, 44);
    height: 2px;
    width: 100%;
    margin: 20px 0;
}


@media (min-width: 700px) {
    .book {
        display: grid;
        grid-template-columns: 150px 2px 1fr; 
        gap: 30px;
        text-align: center;
        align-items: start;
    }

    .book-metadata {
        text-align: right;
    }

    .vertical-divider {
        grid-column: 2;
        width: 2px;
        height: 100%;
        margin: 0;
    }

    .book-content {
        text-align: center;
    }

    .book-content img {
        align-items: center;
    }

    .desc {
        text-align: left;
    }
}